.skeleton-item {
  height: 100%;
  background: linear-gradient(90deg, #ffffff 25%, #f8f8f8 50%, #ffffff 75%);
  background-size: 200% 100%;
  animation: skeleton 2s infinite linear;
  border-radius: 8px;
}

@keyframes skeleton {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}